PORT=3000
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/librato_db?schema=public"
JWT_ACCESS_SECRET="clave_secreta_para_access_tokens_muy_larga"
JWT_REFRESH_SECRET="clave_secreta_para_refresh_tokens_muy_larga"
ACCESS_TOKEN_EXPIRES_IN="15m"
REFRESH_TOKEN_EXPIRES_DAYS=7